In [1]:
# section 7: Aggregate Functions Adn the Group BY , Having & Order By Clause
'''
This is a very important section as the clauses and functions taught in this lecture are among the most commonly used in SQL.
After completing this section you will learn:
 * How to use aggregation functions to summarise values
 * How to use the Group By clause to group your tables into summary rows
 * How to use the Having Clause to filter aggregated tables
 * How to order your results by one or more columns
 * The SQL order of execution for all of the clauses and operations covered so far

The section will be rounded off with a series of assignment questions to test your practical knowledge
'''

'\nThis is a very important section as the clauses and functions taught in this lecture are among the most commonly used in SQL.\nAfter completing this section you will learn:\n * How to use aggregation functions to summarise values\n * How to use the Group By clause to group your tables into summary rows\n * How to use the Having Clause to filter aggregated tables\n * How to order your results by one or more columns\n * The SQL order of execution for all of the clauses and operations covered so far\n\nThe section will be rounded off with a series of assignment questions to test your practical knowledge\n'

In [2]:
# Aggregate Functions
'''
 - SUM
 - COUNT
 - AVG
 - MIN
 - MAX

select * from emp;
select sum(sal), avg(sal) , max(sal) , min(sal) from emp;
select max(ename),min(ename) from EMP;
select sum(ename) from EMP; --invlai
select ename , sum(sal) from EMP; -- Error at line 1/8: ORA-00937: not a single-group group function
select sum(sal) from EMP;
'''

'\n - SUM\n - COUNT\n - AVG\n - MIN\n - MAX\n\nselect * from emp;\nselect sum(sal), avg(sal) , max(sal) , min(sal) from emp;\nselect max(ename),min(ename) from EMP;\nselect sum(ename) from EMP; --invlai\nselect ename , sum(sal) from EMP; -- Error at line 1/8: ORA-00937: not a single-group group function\nselect sum(sal) from EMP;\n'

In [3]:
# Count(*)
'''
select count(*) from emp; --14
select * from emp;
select count(comm) from emp; --4 , non null value
select count(1) from emp; --14

expalin cost : 1
'''

'\nselect count(*) from emp; --14\nselect * from emp;\nselect count(comm) from emp; --4 , non null value\nselect count(1) from emp; --14\n\nexpalin cost : 1\n'

In [4]:
# Aggregate Functions And the where Clause
'''
select sum(sal) from emp;
select sum(sal) from emp where job='MANAGER';
'''

"\nselect sum(sal) from emp;\nselect sum(sal) from emp where job='MANAGER';\n"

In [5]:
# Aggregate Functions And Group By
# Single Column Group BY 
'''
select job, sum(sal) from emp; -- not a single-group group function
select job, sum(sal) from emp GROUP BY job;
select job, avg(sal) from emp GROUP BY job;
select sum(sal) from emp GROUP BY job; 


select job, sum(sal) from emp 
GROUP BY job 
order by sum(sal); 

select job, sum(sal) as total_salary from emp 
GROUP BY job 
order by total_salary DESC; 

'''

'\nselect job, sum(sal) from emp; -- not a single-group group function\nselect job, sum(sal) from emp GROUP BY job;\nselect job, avg(sal) from emp GROUP BY job;\nselect sum(sal) from emp GROUP BY job; \n\n\nselect job, sum(sal) from emp \nGROUP BY job \norder by sum(sal); \n\nselect job, sum(sal) as total_salary from emp \nGROUP BY job \norder by total_salary DESC; \n\n'

In [6]:
# Multi Column Group BY 
'''
select deptno,job, sum(sal) as avg_salary from emp 
GROUP BY deptno,job 
order by deptno; 
'''

'\nselect deptno,job, sum(sal) as avg_salary from emp \nGROUP BY deptno,job \norder by deptno; \n'

In [8]:
# Non-Aggregated Columns
'''
select deptno,job, sum(sal) as avg_salary from emp 
GROUP BY job 
order by deptno;  -- not a GROUP BY expression

select deptno, min(job), sum(sal) as avg_salary from emp 
GROUP BY deptno ;
'''

'\nselect deptno,job, sum(sal) as avg_salary from emp \nGROUP BY job \norder by deptno;  -- not a GROUP BY expression\n\nselect deptno, min(job), sum(sal) as avg_salary from emp \nGROUP BY deptno ;\n'

In [9]:
# Group By And The Having Clause
'''
select job, deptno, sum(sal) as avg_salary from emp 
where deptno=30
GROUP BY job,deptno ;

select job, deptno, sum(sal) as avg_salary from emp 
GROUP BY job,deptno
having deptno=30 ;

-- filter where sum of salary is 3000
select job, deptno, sum(sal) as total_salary from emp 
where sum(sal) >3000
GROUP BY job,deptno ; --  group function is not allowed here

select job, deptno, sum(sal) as total_salary from emp 
GROUP BY job,deptno
having sum(sal) > 3000;


select job, deptno, sum(sal) as total_salary from emp 
GROUP BY job,deptno
having total_salary > 3000; --  "TOTAL_SALARY": invalid identifier

'''

'\nselect job, deptno, sum(sal) as avg_salary from emp \nwhere deptno=30\nGROUP BY job,deptno ;\n\nselect job, deptno, sum(sal) as avg_salary from emp \nGROUP BY job,deptno\nhaving deptno=30 ;\n\n-- filter where sum of salary is 3000\nselect job, deptno, sum(sal) as total_salary from emp \nwhere sum(sal) >3000\nGROUP BY job,deptno ; --  group function is not allowed here\n\nselect job, deptno, sum(sal) as total_salary from emp \nGROUP BY job,deptno\nhaving sum(sal) > 3000;\n\n\nselect job, deptno, sum(sal) as total_salary from emp \nGROUP BY job,deptno\nhaving total_salary > 3000; --  "TOTAL_SALARY": invalid identifier\n\n'

In [10]:
# Group By On Numerical Fields
'''
'''

'\n'

In [11]:
# Order By
'''
select * from EMP ORDER BY SAL;
select * from EMP ORDER BY SAL DESC;
select * from EMP ORDER BY SAL ASC;

select DEPTNO,JOB, SUM(SAL) from EMP 
GROUP BY DEPTNO,JOB
ORDER BY SUM(SAL) DESC;

select DEPTNO,JOB, SUM(SAL) as total_sal from EMP 
GROUP BY DEPTNO,JOB
ORDER BY total_sal DESC;

'''

'\nselect * from EMP ORDER BY SAL;\nselect * from EMP ORDER BY SAL DESC;\nselect * from EMP ORDER BY SAL ASC;\n\nselect DEPTNO,JOB, SUM(SAL) from EMP \nGROUP BY DEPTNO,JOB\nORDER BY SUM(SAL) DESC;\n\nselect DEPTNO,JOB, SUM(SAL) as total_sal from EMP \nGROUP BY DEPTNO,JOB\nORDER BY total_sal DESC;\n\n'

In [12]:
# Where , Group By , Having & Order By
# Order of Execution
'''
 1. WHERE 
 2. GROUP BY 
 3. HAVING 
 4. Order BY
'''

'\n 1. WHERE \n 2. GROUP BY \n 3. HAVING \n 4. Order BY\n'

In [14]:
# Assignment Question
'''
Please attempt as many questions as you can, I will go over the solutions in the next lecture. Good luck!
For questions 1-3 we will be using the Countries Sample Dataset
Q1) What are the average, minimum and maximum population values for all countries in the EBA_COUNTRIES table?
select  avg(population), min(population),max(population) FROM EBA_COUNTRIES

select * from eba_countries;

Q2) Which Capital City has the 5th highest population?
select * from eba_countries order by population desc;
(select top 5 capital , population from eba_countries order by population desc)


Q3) Using the EBA_COUNTRIES table find the SUB_REGION_ID that has the 5th highest population
select
 sub_region_id,
 sum(population)
from eba_countries
group by sub_region_id
order by sum(population) desc;


For question 4 we will be using the Employees Sample Dataset

Question 4)
Which DEPTNO in the EMP table pays their managers the highest average salary?
select * from EMP;
select deptno, round(avg(sal),2) as DEPT_AVG_SAL from emp group by deptno;

select 
deptno, avg(sal) as dept_avg_sal 
from emp 
-- WHERE job = 'MANAGER'
GROUP BY deptno
HAVING sal > avg(sal);

--- Soltion 1
select
 deptno,
 job,
 avg(sal)
from emp
group by deptno, job
having job = 'MANAGER';

or

select
 deptno,
 job,
 avg(sal)
from emp
where job = 'MANAGER'
group by deptno, job;
'''

"\nPlease attempt as many questions as you can, I will go over the solutions in the next lecture. Good luck!\nFor questions 1-3 we will be using the Countries Sample Dataset\nQ1) What are the average, minimum and maximum population values for all countries in the EBA_COUNTRIES table?\nselect  avg(population), min(population),max(population) FROM EBA_COUNTRIES\n\nselect * from eba_countries;\n\nQ2) Which Capital City has the 5th highest population?\nselect * from eba_countries order by population desc;\n(select top 5 capital , population from eba_countries order by population desc)\n\n\nQ3) Using the EBA_COUNTRIES table find the SUB_REGION_ID that has the 5th highest population\nselect\n sub_region_id,\n sum(population)\nfrom eba_countries\ngroup by sub_region_id\norder by sum(population) desc;\n\n\nFor question 4 we will be using the Employees Sample Dataset\n\nQuestion 4)\nWhich DEPTNO in the EMP table pays their managers the highest average salary?\nselect * from EMP;\nselect deptno, round(avg(sal),2) as DEPT_AVG_SAL from emp group by deptno;\n\nselect \ndeptno, avg(sal) as dept_avg_sal \nfrom emp \n-- WHERE job = 'MANAGER'\nGROUP BY deptno\nHAVING sal > avg(sal);\n\n--- Soltion 1\nselect\n deptno,\n job,\n avg(sal)\nfrom emp\ngroup by deptno, job\nhaving job = 'MANAGER';\n\nor\n\nselect\n deptno,\n job,\n avg(sal)\nfrom emp\nwhere job = 'MANAGER'\ngroup by deptno, job;\n"