In [1]:
# Section 11: Relational Data Model basics And Database Constraints
'''
This is an important section when it comes to understanding the basics of relational data models.
After completing this section you will learn:
 * What a relational data model looks like and the basics of relational database design
 * How to identify FACT and DIMENSION tables
 * The difference between STAR and SNOWFLAKE Schemas
 * The types of relationships between records in different Tables
 * How Database Constraints such as the Primary and Foreign Keys are used 
 * This is a very important section in terms of understanding what makes a relational database tick.

The section will be rounded off with a multiple choice quiz.
'''

'\nThis is an important section when it comes to understanding the basics of relational data models.\nAfter completing this section you will learn:\n * What a relational data model looks like and the basics of relational database design\n * How to identify FACT and DIMENSION tables\n * The difference between STAR and SNOWFLAKE Schemas\n * The types of relationships between records in different Tables\n * How Database Constraints such as the Primary and Foreign Keys are used \n * This is a very important section in terms of understanding what makes a relational database tick.\n\nThe section will be rounded off with a multiple choice quiz.\n'

In [2]:
# Relational Database
'''

'''

In [2]:
# Fact and Dimension Table Required
'''
 * FACT Tables contains measurements, metrics and factual information
 * Dimension tables contains descriptive attributes
'''

'\n * FACT Tables contains measurements, metrics and factual information\n * Dimension tables contains descriptive attributes\n'

In [4]:
# Star and SnowFlake Schemas
'''
####### DENORMALIZED ##########
  DIMENSION  DIMENSION
          FACT
  DIMENSION  DIMENSION       
'''

# star schema less dimension table, so easy to query
# snowflake schema is normazlied, and extension of star schema

'\n####### DENORMALIZED ##########\n  DIMENSION  DIMENSION\n          FACT\n  DIMENSION  DIMENSION       \n'

In [1]:
# Types of Relationships
'''
  - ONE TO ONE 
  - One TO MANY
  - MANY TO MANY
'''

'\n  - ONE TO ONE \n  - One TO MANY\n  - MANY TO MANY\n'

In [5]:
# Primary Key and Foreign Key Constraints
'''
alter table eba_country_regions drop column id; -- cannot drop parent key column
select distinct id from eba_country_regions;

update eba_countries set region_id  =60 where region_id = 10 --  integrity constraint (WKSP_ADVANCESQLRAJ.EBA_COUNTRY_REGIONS_FK) violated - parent key not found
'''

'\n'

In [2]:
# Other Important Constrants
'''
 - UNIQUE 
 - NOT NULL 
 - DEFAULT

 create table test(
    col1 integer unique,
    col2 integer not null,
    col3 varchar2(25) default 'hello'
);

insert into test (col1,col2) values(1, 1);
select * from test;

insert into test values(1, 1,'test'); --invalid
insert into test values(2, 1,'test');
insert into test values(3, NULL,'test');
insert into test values(3, null,'test');

insert into test values(1, 1,'test');
insert into test values(1, 1,'test');

alter table test drop constraint SYS_C00146642804;

select * from user_constraints where table_name ='TEST';

alter table test modify col2 integer null;
'''

"\n - UNIQUE \n - NOT NULL \n - DEFAULT\n\n create table test(\n    col1 integer unique,\n    col2 integer not null,\n    col3 varchar2(25) default 'hello'\n);\n\ninsert into test (col1,col2) values(1, 1);\nselect * from test;\n\ninsert into test values(1, 1,'test'); --invalid\ninsert into test values(2, 1,'test');\ninsert into test values(3, NULL,'test');\ninsert into test values(3, null,'test');\n\ninsert into test values(1, 1,'test');\ninsert into test values(1, 1,'test');\n\nalter table test drop constraint SYS_C00146642804;\n\nselect * from user_constraints where table_name ='TEST';\n\nalter table test modify col2 integer null;\n"

In [ ]:
# Alter table table1 ADD CONSTRAINT UNIQUE_COL UNIQUE(COL1);