In [1]:
# oracle.apex.com

In [2]:
# Dataset Installation ( Automatic )
'''
 * SQL Workshop > Utiliits > Sample Datasets
 * Install Countries > INstall Daatasets > Create Application > 
 * Install EMP/DEPT > 
 * Install Customer/Orders > Create Application

'''

'\n * SQL Workshop > Utiliits > Sample Datasets\n * Install Countries > INstall Daatasets > Create Application > \n * Install EMP/DEPT > \n * Install Customer/Orders > Create Application\n\n'

In [3]:
# Dataset Overview 
'''
 #1. Countries Data Model 
 =========================
 - EBA_COUNTRIES
 - EBA_COUNTRY_REGIONS [ Dimension ]
 - EBA_COUNTRY_SUB_REGIONS [ Dimension ]
 - EBA_COUNTRY_INTERMEDIATES [ Dimension ]
 - EBA_COUNTRY_ORGANIZATIONS [ Dimension ]

 #2. EMP / DEPT DATA MODEL 
 =========================
 * DEPT [ Dimension ]
 * EMP []
 
 #3. Customer Data Mpdel 
 =========================
  * Orders
  * ORDER_ITEMS
  * PRODUCTS
  * CUSTOMERS
  * STORES
'''

'\n #1. Countries Data Model \n =========================\n - EBA_COUNTRIES\n - EBA_COUNTRY_REGIONS [ Dimension ]\n - EBA_COUNTRY_SUB_REGIONS [ Dimension ]\n - EBA_COUNTRY_INTERMEDIATES [ Dimension ]\n - EBA_COUNTRY_ORGANIZATIONS [ Dimension ]\n\n #2. EMP / DEPT DATA MODEL \n =========================\n * DEPT [ Dimension ]\n * EMP []\n \n #3. Customer Data Mpdel \n =========================\n  * Orders\n  * ORDER_ITEMS\n  * PRODUCTS\n  * CUSTOMERS\n  * STORES\n'

In [4]:
# DUAL Table 
'''
select * from dual;

select * from dual;
select 12 * 5.6 from emp;
select 12 * 5.6 from dual;
select sysdate from dual;
select length('How long in this string') from dual;

'''

"\nselect * from dual;\n\nselect * from dual;\nselect 12 * 5.6 from emp;\nselect 12 * 5.6 from dual;\nselect sysdate from dual;\nselect length('How long in this string') from dual;\n\n"

In [6]:
# Understand Explain Plans in Oracle
'''
 - The cost is aggregated up from child to parent
 - Hence the cose of hash join operatio is 3+3 which is the sum of its child table access operations.
 - The root SELECT statement is the total of its child operations, which in this instance is just the hash join operation.
'''


# run this Queries and See the explain tab for its cost  
'''
select * from emp;
select sum(sal) , job from emp group by job;
select emp.*, dept.* from emp join dept on emp.deptno = dept.deptno;

'''

'\n - The cost is aggregated up from child to parent\n - Hence the cose of hash join operatio is 3+3 which is the sum of its child table access operations.\n - The root SELECT statement is the total of its child operations, which in this instance is just the hash join operation.\n'