In [ ]:
'''
Certainly! Here are some intermediate SQL problems to help you build on your foundational skills. Each problem includes a description of the database schema and the task to perform.

### Problem 1: Advanced JOINs

**Schema:**
- Table: `students`
  - Columns: `student_id` (INT), `student_name` (VARCHAR), `class_id` (INT)
- Table: `classes`
  - Columns: `class_id` (INT), `class_name` (VARCHAR)
- Table: `enrollments`
  - Columns: `enrollment_id` (INT), `student_id` (INT), `class_id` (INT)

**Tasks:**
1. Write a query to list all students along with the names of the classes they are enrolled in.
2. Write a query to find students who are not enrolled in any class.
3. Write a query to list all classes that have more than 5 students enrolled.

### Problem 2: Window Functions

**Schema:**
- Table: `sales`
  - Columns: `sale_id` (INT), `product_id` (INT), `sale_amount` (DECIMAL), `sale_date` (DATE)

**Tasks:**
1. Write a query to calculate the cumulative sales amount for each sale in the order they occurred.
2. Write a query to find the average sale amount for each day.
3. Write a query to rank the sales by amount within each day.

### Problem 3: Complex Subqueries

**Schema:**
- Table: `employees`
  - Columns: `employee_id` (INT), `employee_name` (VARCHAR), `department_id` (INT), `salary` (DECIMAL)
- Table: `departments`
  - Columns: `department_id` (INT), `department_name` (VARCHAR)

**Tasks:**
1. Write a query to find the department(s) with the highest average salary.
2. Write a query to list employees who earn more than the average salary of their department.
3. Write a query to find the highest paid employee in each department.

### Problem 4: CASE Statements

**Schema:**
- Table: `orders`
  - Columns: `order_id` (INT), `customer_id` (INT), `order_date` (DATE), `status` (VARCHAR)

**Tasks:**
1. Write a query to create a new column that categorizes orders as 'Recent' if the order date is within the last 30 days, 'Old' otherwise.
2. Write a query to count the number of orders with each status ('Pending', 'Shipped', 'Delivered').
3. Write a query to create a summary of order statuses for each customer, showing the count of each status category.

### Problem 5: Recursive CTEs

**Schema:**
- Table: `employees`
  - Columns: `employee_id` (INT), `employee_name` (VARCHAR), `manager_id` (INT)

**Tasks:**
1. Write a query to list all employees along with their direct manager's name.
2. Write a query to find the chain of command for a given employee.
3. Write a query to find the total number of employees under each manager (including indirect reports).

### Problem 6: Advanced Aggregations

**Schema:**
- Table: `transactions`
  - Columns: `transaction_id` (INT), `account_id` (INT), `transaction_date` (DATE), `amount` (DECIMAL)

**Tasks:**
1. Write a query to find the daily transaction totals for each account.
2. Write a query to calculate the running balance for each account, ordered by transaction date.
3. Write a query to find accounts that have a decreasing balance for three consecutive transactions.

These intermediate problems should help you enhance your SQL skills and prepare you for more complex queries. If you need further assistance or more problems, feel free to ask!

'''