In [2]:
# Section 8: Joining Tables
'''
* This is arguably one of the most important sections of this course.
* Joins are used to combine rows from two or more tables based on related columns between the tables. For example if two tables have an 
   associated field (e.g. Customer ID) then a join operation can be used to combine rows from both tables.
* The join operation is a fundamental part of relational databases.
* After completing this section your will learn how to:
 - The difference between inner, left, right and full outer joins
 - How to combine columns from multiple tables using joins

We will round off the section with some practical assignment questions. It is crucial that you have a sound understanding of joins so 
please ensure you are comfortable with this section before moving on as it is one of the most important aspects of relational databases 
and SQL.
'''

'\n* This is arguably one of the most important sections of this course.\n* Joins are used to combine rows from two or more tables based on related columns between the tables. For example if two tables have an \n   associated field (e.g. Customer ID) then a join operation can be used to combine rows from both tables.\n* The join operation is a fundamental part of relational databases.\n* After completing this section your will learn how to:\n - The difference between inner, left, right and full outer joins\n - How to combine columns from multiple tables using joins\n\nWe will round off the section with some practical assignment questions. It is crucial that you have a sound understanding of joins so \nplease ensure you are comfortable with this section before moving on as it is one of the most important aspects of relational databases \nand SQL.\n'

In [3]:
# Introductin to Join Operation
'''
 # 4 Types of Joins
  - InNER
  - LEFT 
  - RIGHT 
  - OUTER
'''

'\n'

In [7]:
# Simple Join 
'''
select * from eba_countries;
select * from eba_country_regions;

select 
  C.name,
  C.population,
  C.region_id,
  CR.name

FROM eba_countries C
RIGHT JOIN eba_country_regions CR
ON C.region_id = CR.id;
'''

# Example 2
'''
select 
  emp.ename,
  emp.job,
  emp.deptno,
  dept.deptno,
  dept.dname,
  dept.loc

FROM EMP
LEFT JOIN DEPT
ON EMP.deptno = DEPT.deptno;
'''

# FULL OUTER JOIN 
# INNER JOIN 
# LEFT JOIN 
# RIGHT JOIN 

# Anti JOIN 
'''
-- as there are one extra record in dept.deptno = 40 , which doesnot exists , so i filter 
select 
  emp.ename,
  emp.job,
  emp.deptno,
  dept.deptno,
  dept.dname,
  dept.loc

FROM EMP
RIGHT JOIN DEPT
ON EMP.deptno = DEPT.deptno 
where EMP.deptno is null;

'''

'\n-- as there are one extra record in dept.deptno = 40 , which doesnot exists , so i filter \nselect \n  emp.ename,\n  emp.job,\n  emp.deptno,\n  dept.deptno,\n  dept.dname,\n  dept.loc\n\nFROM EMP\nRIGHT JOIN DEPT\nON EMP.deptno = DEPT.deptno \nwhere EMP.deptno is null;\n\n'

In [8]:
# Joining Mulitple Tables
'''
SELECT 
   C.name,
   C.population,
   C.region_id,
   C.sub_region_id,
   CR.name as region_name,
   CSR.name as sub_region_name

FROM EBA_COUNTRIES C
LEFT JOIN EBA_COUNTRY_REGIONS CR
 ON C.region_id = CR.id
LEFT JOIN EBA_COUNTRY_SUB_REGIONS CSR
 ON C.sub_region_id   = CSR.id;
 
-- LEFT JOIN EBA_COUNTRY_SUB_REGIONS CSR: 249
-- INNER JOIN EBA_COUNTRY_SUB_REGIONS CSR : 248

'''

'\nSELECT \n   C.name,\n   C.population,\n   C.region_id,\n   C.sub_region_id,\n   CR.name as region_name,\n   CSR.name as sub_region_name\n\nFROM EBA_COUNTRIES C\nLEFT JOIN EBA_COUNTRY_REGIONS CR\n ON C.region_id = CR.id\nLEFT JOIN EBA_COUNTRY_SUB_REGIONS CSR\n ON C.sub_region_id   = CSR.id;\n \n-- LEFT JOIN EBA_COUNTRY_SUB_REGIONS CSR: 249\n-- INNER JOIN EBA_COUNTRY_SUB_REGIONS CSR : 248\n\n'

In [5]:
# Joining On Multiple Columns
'''

'''

In [10]:
# Assignment Questions
'''
Please attempt as many questions as you can, I will go over the solutions in the next lecture. Good luck!

Q1)
(For this assignment question we will be using the Employees Sample Dataset)
Perform a join on the EMP and DEPT table on the DEPTNO fields for both tables and return the columns:


ENAME from EMP
DEPTNO from EMP
SAL from EMP
DNAME from DEPT

You should return all values from the EMP table and no unmatched values from the DEPT table.
 I will leave you to figure out the most suitable column and join type to join the table


 select 
  emp.ename,
  emp.deptno,
  emp.sal,
  dept.dname

FROM emp 
INNER JOIN dept
ON
 emp.deptno = dept.deptno;


Question 2
(For this assignment question we will be using the Countries Sample Dataset)

Perform a join between the EBA_COUNTRIES table and the EBA_COUNTRY_INTERMEDIATES table on the respective INTERMEDIATE_REGION_ID and ID fields.
Return and appropriately alias the following columns:

NAME from EBA_COUNTRIES
INTERMEDIATE_REGION_ID from EBA_COUNTRIES
NAME from EBA_COUNTRY_INTERMEDIATES

Return only those records where both tables have matching values on their related fields.

select 
    C.name,
    C.INTERMEDIATE_REGION_ID as "intermediate name",
    CI.name

FROM EBA_COUNTRIES C 
JOIN EBA_COUNTRY_INTERMEDIATES CI
ON
 C.INTERMEDIATE_REGION_ID = CI.id;

'''

'\nPlease attempt as many questions as you can, I will go over the solutions in the next lecture. Good luck!\n\nQ1)\n(For this assignment question we will be using the Employees Sample Dataset)\nPerform a join on the EMP and DEPT table on the DEPTNO fields for both tables and return the columns:\n\n\nENAME from EMP\nDEPTNO from EMP\nSAL from EMP\nDNAME from DEPT\n\nYou should return all values from the EMP table and no unmatched values from the DEPT table.\n I will leave you to figure out the most suitable column and join type to join the table\n\n\n select \n  emp.ename,\n  emp.deptno,\n  emp.sal,\n  dept.dname\n\nFROM emp \nINNER JOIN dept\nON\n emp.deptno = dept.deptno;\n\n\nQuestion 2\n(For this assignment question we will be using the Countries Sample Dataset)\n\nPerform a join between the EBA_COUNTRIES table and the EBA_COUNTRY_INTERMEDIATES table on the respective INTERMEDIATE_REGION_ID and ID fields.\nReturn and appropriately alias the following columns:\n\nNAME from EBA_COUNTRIES\nINTERMEDIATE_REGION_ID from EBA_COUNTRIES\nNAME from EBA_COUNTRY_INTERMEDIATES\n\nReturn only those records where both tables have matching values on their related fields.\n\nselect \n    C.name,\n    C.INTERMEDIATE_REGION_ID as "intermediate name",\n    CI.name\n\nFROM EBA_COUNTRIES C \nJOIN EBA_COUNTRY_INTERMEDIATES CI\nON\n C.INTERMEDIATE_REGION_ID = CI.id;\n\n'