In [2]:
# Section 6: Hierarchical Queries
'''
This section will focus on Hierarchical Queries in Oracle SQL.
 * You can use hierarchical queries to travel along parent-child relationships in hierarchical data.
 * Hierarchical data can be a table that has both a parent and child column such as family trees, product categories and company 
 organization structures.

In the next section I will discuss recursive CTEs which can be used as an alternate to hierarchical queries in SQL Server and MySQL.
'''

'\nThis section will focus on Hierarchical Queries in Oracle SQL.\n * You can use hierarchical queries to travel along parent-child relationships in hierarchical data.\n * Hierarchical data can be a table that has both a parent and child column such as family trees, product categories and company \n organization structures.\n\nIn the next section I will discuss recursive CTEs which can be used as an alternate to hierarchical queries in SQL Server and MySQL.\n'

In [3]:
# Introduction to Hierachical Queries
'''
'''

In [15]:
# The Connect By & Start With Clause
'''
select * from emp
start with mgr is null
connect by empno = prior mgr;

select * from emp
start with mgr is null
connect by empno = mgr;

select * from emp
start with mgr is null
connect by empno = mgr;
'''

'\nselect * from emp\nstart with mgr is null\nconnect by empno = prior mgr;\n\nselect * from emp\nstart with mgr is null\nconnect by empno = mgr;\n\nselect * from emp\nstart with mgr is null\nconnect by empno = mgr;\n'

In [17]:
# The Level Pseudocololumn
'''
    select emp.*, level from emp
    start with mgr is null
    connect by prior empno = mgr;

select emp.*, level from emp
start with empno  = 7698
connect by prior empno = mgr;

select emp.*, level from emp
start with empno  = 7566
connect by prior empno = mgr;
'''

'\n    select emp.*, level from emp\n    start with mgr is null\n    connect by prior empno = mgr;\n\nselect emp.*, level from emp\nstart with empno  = 7698\nconnect by prior empno = mgr;\n\nselect emp.*, level from emp\nstart with empno  = 7566\nconnect by prior empno = mgr;\n'

In [18]:
# CONNECT_BY_ROOT & SYS_CONNECT_BY_PATH
'''
select emp.*, connect_by_root ename as "root ename" from emp
start with mgr is null
connect by prior empno = mgr;


select emp.*, connect_by_root ename as "root ename" from emp
start with empno = 7566
connect by prior empno = mgr;

select emp.*, connect_by_root empno as "root empno" from emp
start with empno = 7566
connect by prior empno = mgr;

select emp.*, connect_by_root ename as "root ename" from emp
connect by prior empno = mgr;
'''

### SYS_CONNECT_BY_PATH
'''
select emp.*,level, sys_connect_by_path( ename,'-') from emp
-- start with empno = 7566
connect by prior empno = mgr;


select emp.*,level, sys_connect_by_path( empno,'/') from emp
-- start with empno = 7566
connect by prior empno = mgr;

'''

"\nselect emp.*,level, sys_connect_by_path( ename,'-') from emp\n-- start with empno = 7566\nconnect by prior empno = mgr;\n\n\nselect emp.*,level, sys_connect_by_path( empno,'/') from emp\n-- start with empno = 7566\nconnect by prior empno = mgr;\n\n"

In [19]:
# Ordereing Your Hierachical Query Results
'''
select emp.* ,level from emp
start with empno = 7566
connect by prior empno = mgr
order siblings by ename ;
'''

'\nselect emp.* ,level from emp\nstart with empno = 7566\nconnect by prior empno = mgr\norder siblings by ename ;\n'

In [23]:
# Formatting Your Hierarchical Query
'''
select emp.* ,level, lpad(ename, length(ename)+level,'>') as ename_pad from emp
start with empno = 7839
connect by prior empno = mgr;


'''

"\nselect emp.* ,level, lpad(ename, length(ename)+level,'>') as ename_pad from emp\nstart with empno = 7839\nconnect by prior empno = mgr;\n\n\n"

In [24]:
# FIltering Your Results
'''
select emp.* ,level 
FROM emp
WHERE empno <> 7689 -- blake empcode
start with empno = 7839
connect by prior empno = mgr and empno <> 7689
;
-- blake director report

'''

'\nselect emp.* ,level \nFROM emp\nWHERE empno <> 7689 -- blake empcode\nstart with empno = 7839\nconnect by prior empno = mgr and empno <> 7689\n;\n-- blake director report\n\n'

In [26]:
# Hierarchial Query Processing
'''
This is an extract taken from Oracle documentation that shows how Oracle processes hierarchical queries.
Oracle processes hierarchical queries as follows:
 * A join, if present, is evaluated first, whether the join is specified in the FROM clause or with WHERE clause predicates.
 * The CONNECT BY condition is evaluated.
 * Any remaining WHERE clause predicates are evaluated.
'''

'\nThis is an extract taken from Oracle documentation that shows how Oracle processes hierarchical queries.\nOracle processes hierarchical queries as follows:\n * A join, if present, is evaluated first, whether the join is specified in the FROM clause or with WHERE clause predicates.\n * The CONNECT BY condition is evaluated.\n * Any remaining WHERE clause predicates are evaluated.\n'

In [11]:
# Assiginment Question 1

In [12]:
# Assiginment Question 2

In [13]:
# Assiginment Question 3

In [14]:
# Assiginment Question 4