In [13]:
# Section 5: Group By Extensions 
# Section Overview 
'''
This section focuses on Extensions to the Group By clause.
These extensions are:
 * ROLLUP
 * CUBE
 * GROUPING SETS

They allow you to display sub totals and grand totals in your Group By query results.
'''

'\nThis section focuses on Extensions to the Group By clause.\nThese extensions are:\n * ROLLUP\n * CUBE\n * GROUPING SETS\n\nThey allow you to display sub totals and grand totals in your Group By query results.\n'

In [14]:
# Introduction to group BY Extensions
'''
 - pdf
'''

'\n - pdf\n'

In [17]:
# ROLLUP
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  sum(population)

FROM eba_countries
GROUP BY rollup(nvl(region_id,0), nvl(sub_region_id,0));
'''

# 
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  nvl(organization_region_id,0),
  sum(population)

FROM eba_countries
GROUP BY rollup(nvl(region_id,0), nvl(sub_region_id,0),nvl(organization_region_id,0));
'''

## 
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  nvl(organization_region_id,0),
  sum(population)

FROM eba_countries
GROUP BY nvl(organization_region_id,0), 
rollup(nvl(region_id,0), nvl(sub_region_id,0));
'''

'\nselect \n  nvl(region_id,0),\n  nvl(sub_region_id,0),\n  nvl(organization_region_id,0),\n  sum(population)\n\nFROM eba_countries\nGROUP BY nvl(organization_region_id,0), \nrollup(nvl(region_id,0), nvl(sub_region_id,0));\n'

In [18]:
# CUBE
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  sum(population)

FROM eba_countries
GROUP BY nvl(region_id,0),cube(nvl(sub_region_id,0));
-- GROUP BY cube(nvl(region_id,0), nvl(sub_region_id,0));

-- GROUP BY rollup(nvl(region_id,0), nvl(sub_region_id,0));
'''

'\nselect \n  nvl(region_id,0),\n  nvl(sub_region_id,0),\n  sum(population)\n\nFROM eba_countries\nGROUP BY nvl(region_id,0),cube(nvl(sub_region_id,0));\n-- GROUP BY cube(nvl(region_id,0), nvl(sub_region_id,0));\n\n-- GROUP BY rollup(nvl(region_id,0), nvl(sub_region_id,0));\n'

In [20]:
# Quick Video on Why I Am Using NVL()
'''
select 
  region_id,
  sub_region_id,
  sum(population)

FROM eba_countries
GROUP BY region_id,sub_region_id -- 40 , no subregionid
'''
# 
'''
select 
  region_id,
  sub_region_id,
  sum(population)

FROM eba_countries
GROUP BY rollup(region_id,sub_region_id);
'''
# example 3
'''
select 
  region_id,
  nvl(sub_region_id,0),
  sum(population)

FROM eba_countries
GROUP BY rollup(region_id,nvl(sub_region_id,0));
'''

'\nselect \n  region_id,\n  nvl(sub_region_id,0),\n  sum(population)\n\nFROM eba_countries\nGROUP BY rollup(region_id,nvl(sub_region_id,0));\n'

In [26]:
# GROUPING_ID Function
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  grouping_id(nvl(region_id,0),nvl(sub_region_id,0)),
  sum(population)

FROM eba_countries
GROUP BY rollup(nvl(region_id,0),nvl(sub_region_id,0));
'''

# Solution 2
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  grouping_id(nvl(region_id,0),nvl(sub_region_id,0)),
  sum(population)

FROM eba_countries
GROUP BY cube(nvl(region_id,0),nvl(sub_region_id,0));
'''

# Soltiuon 3
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  nvl(organization_region_id,0),
  grouping_id(nvl(region_id,0),nvl(sub_region_id,0),nvl(organization_region_id,0)),
  sum(population)

FROM eba_countries
GROUP BY cube(nvl(region_id,0),nvl(sub_region_id,0),nvl(organization_region_id,0));
'''

# soltion 4:
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  nvl(organization_region_id,0),
  grouping_id(nvl(region_id,0),nvl(sub_region_id,0),nvl(organization_region_id,0)),
  sum(population)

FROM eba_countries
GROUP BY rollup(nvl(region_id,0),nvl(sub_region_id,0),nvl(organization_region_id,0));
'''

'\nselect \n  nvl(region_id,0),\n  nvl(sub_region_id,0),\n  nvl(organization_region_id,0),\n  grouping_id(nvl(region_id,0),nvl(sub_region_id,0),nvl(organization_region_id,0)),\n  sum(population)\n\nFROM eba_countries\nGROUP BY rollup(nvl(region_id,0),nvl(sub_region_id,0),nvl(organization_region_id,0));\n'

In [29]:
# GROUPING Set
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  nvl(organization_region_id,0),
  sum(population)

FROM eba_countries
GROUP BY grouping sets(
        nvl(region_id,0),
        nvl(sub_region_id,0),
        nvl(organization_region_id,0),
        ()
    );
'''
# 
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  nvl(organization_region_id,0),
  sum(population)

FROM eba_countries
GROUP BY grouping sets(
        (nvl(region_id,0),nvl(sub_region_id,0)),
        nvl(organization_region_id,0),
        ()
);
'''
# 
'''
select 
  nvl(region_id,0),
  nvl(sub_region_id,0),
  nvl(organization_region_id,0),
  sum(population)

FROM eba_countries
GROUP BY nvl(organization_region_id,0), grouping sets(
        (nvl(region_id,0),nvl(sub_region_id,0)),
        ()
);
'''

'\nselect \n  nvl(region_id,0),\n  nvl(sub_region_id,0),\n  nvl(organization_region_id,0),\n  sum(population)\n\nFROM eba_countries\nGROUP BY nvl(organization_region_id,0), grouping sets(\n        (nvl(region_id,0),nvl(sub_region_id,0)),\n        ()\n);\n'

In [7]:
# Combining Columns
'''

'''

In [30]:
# Useful External resources
'''
There are slight differences with different database management systems and their syntax / how they perform Group By Extensions compared to Oracle SQL. I have linked some useful documentation below.

Official Oracle Documentation
https://docs.oracle.com/cd/F49540_01/DOC/server.815/a68003/rollup_c.htm#32632

Official MySQL Documentation
https://dev.mysql.com/doc/refman/8.0/en/group-by-modifiers.html

Official Microsoft Documentation
https://learn.microsoft.com/en-us/sql/t-sql/queries/select-group-by-transact-sql?view=sql-server-ver15
'''

'\nThere are slight differences with different database management systems and their syntax / how they perform Group By Extensions compared to Oracle SQL. I have linked some useful documentation below.\n\nOfficial Oracle Documentation\nhttps://docs.oracle.com/cd/F49540_01/DOC/server.815/a68003/rollup_c.htm#32632\n\nOfficial MySQL Documentation\nhttps://dev.mysql.com/doc/refman/8.0/en/group-by-modifiers.html\n\nOfficial Microsoft Documentation\nhttps://learn.microsoft.com/en-us/sql/t-sql/queries/select-group-by-transact-sql?view=sql-server-ver15\n'

In [9]:
# Assignment Question 1

In [10]:
# Assignment Question 2

In [11]:
# Assignment Question 3