In [15]:
# Section 3: Regular Expression(RegEx)
# Overview
'''
* In this section we will be focusing on Regular Expressions.
* Specifically, on the metacharacters used for pattern matching in RegEx functions along with the main 
  RegEx functions in Oracle SQL, which are:

 - REGEXP_LIKE
 - REGEXP_INSTR
 - REGEXP_SUBSTR
 - REGEXP_REPLACE

I have also included documentation for MySQL and SQL Server.
'''

'\nIn this section we will be focusing on Regular Expressions.\nSpecifically, on the metacharacters used for pattern matching in RegEx functions along with the main RegEx functions in Oracle SQL, which are:\n\nREGEXP_LIKE\nREGEXP_INSTR\nREGEXP_SUBSTR\nREGEXP_REPLACE\n\nI have also included documentation for MySQL and SQL Server.\n'

In [3]:
# Regular Expression and Metacharacters
'''
 - What are Regular Expression

'''
# Pattern Mathcing With The  "." , "+", "?", "*" Metacharacters
'''
'''

'\n'

In [4]:
# Pattern Matching with The '\d'  and '\w' Metacharacters
''' 
 - \d => any character digits 
 - \w => any character word
'''

In [19]:
# Pattern Matching with Intervals , Lists and groups 

## INtervals 
'''
- Interval => {m,} , {,n} , {m,n}  , m => Lower limit , n => upper limit 
  \d\d\d => \d{3}
  \d\d\d....\d => \d{100}
- Lists => [ ] 
- Groups => ()

'''
# 
'''
  \w => [A-Za-z0-9]
  pattern = "\d{2}\w{3}'
  string = "234sf"-> valid
  23 -> digit 
  4sf => word [ Alpha Numeric character]
'''

# List [] & Groups ()
'''

pattern = "(erf)(oo)"
string  = "erfoo" -> valid

pattern = 
'''

'\n- Interval => \n- Lists => [ ] \n- Groups => ()\n\n'

In [2]:
# Pattern Matching Continued => | OR 
'''
PATTERN = '(abd|def)' => abd or def 

pattern = "[ab]"
or 
pattern = "a|b" 
  * both are same

'''

# Pattern Matching - Back Reference
'''
 - Back Reference Only applly to subexpressions.
'''

# Pattern Matching - Escape Characters \ 
'''
'''

# Pattern Matching - Line Anchors =>  ^ , $
'''
 - You will recall that using a caret(^) symbol inside a list result in a set of non-matching characters.
 - However using the caret symbol at the beginning of your search pattern will mean you are searching only the
 - beginning of the string.
'''

'\n - You will recall that using a caret(^) symbol inside a list result in a set of non-matching characters.\n - However using the caret symbol at the beginning of your search pattern will mean you are searching only the\n - beginning of the string.\n'

In [1]:
# Introduction To RegEx Functions in Oracle
# REGEXP_LIKE & Assignment Questions
'''
 select * from customers;

 -- retrieve all customer who do have middle name
 select * from customers where regexp_like(full_name ,'\w+ \w+ \w+'); -- 3 records
 select * from customers where full_name like '\w+ \w+ \w+'; -- no data 
'''

"\n select * from customers;\n select * from customers where regex_like(full_name, '\\w+ \\w+ \\w+');\n"

In [3]:
# Assignment Question1
'''
 select * from stores;
 Q) using REGEXP_LIKE filter the records to show the US postcodes
 select * from stores where regexp_like(physical_address, ' [A-Z]{2} \d{5}')

 Q) Use regexp_like to return all customers with the first name Stephen or Steven
 select * from customers where regexp_like (full_name , '^(Stephen|Steven)')
 select * from customers where regexp_like (full_name , '^Ste(ph|v)en')
'''

"\n select * from stores;\n Q) using REGEXP_LIKE filter the records to show the US postcodes\n select * from stores where regexp_like(physical_address, ' [A-Z]{2} \\d{5}')\n\n Q) Use regexp_like to return all customers with the first name Stephen or Steven\n select * from customers where regexp_like (full_name , '^(Stephen|Steven)')\n select * from customers where regexp_like (full_name , '^Ste(ph|v)en')\n"

In [5]:
# REGEXP_INSTR
'''
 - returns the location of regular expression pattern in the string(starts from 0)
 - If the pattern is not matched anywhere in the string the functions will return 0.
'''

# Assignment Questions
'''
 # Return only those coutries where the first occurence of the letter 'n' appears in position 7
  select * from eba_countries;
  select name, regexp_instr(name,'n') from eba_contries;
  select * from eba_countries where regexp_instr(name,'n') = 7;
 
 # Return all countries with and open "(" and close ")" paranethesis in its name
  select name from eba_countries where regexp_instr(name ,'\(.+\)') > 0 ;
'''

'\n # Return only those coutries where the first occurence of the letter \'n\' appears in position 7\n  select * from eba_countries;\n  select name, regexp_instr(name,\'n\') from eba_contries;\n  select * from eba_countries where regexp_instr(name,\'n\') = 7;\n \n # Return all countries with and open "(" and close ")" paranethesis in its name\n  select name from eba_countries where regexp_instr(name ,\'\\(.+\\)\') > 0 ;\n'

In [6]:
# REGEXP_SUBSTR
'''
 * Extract a sbustring from a string
'''
# Assignment Questions
'''
# From the EBA_COUNTRIES table select the country name and a new column 
that extracts the countries name from the field if its starts and end with the letter 'a' , 
regardeless of how many words are in the countries name.
  
  select * from eba_countries
  select name, regexp_substr(name, '^A.+a$') from eba_countries 
  select name, regexp_substr(name, '^A.+a') from eba_countries 
   - Afganishtan

 # From the EBA_COUNTRIES table query a column that extracts just the word of a country , only for those 
 # countries that consist of mulitple words
 select name, regexp_substr(name, '^\w+ ') from eba_countries
 '''

"\n# From the EBA_COUNTRIES table select the country name and a new column \nthat extracts the countries name from the field if its starts and end with the letter 'a' , \nregardeless of how many words are in the countries name.\n  \n  select * from eba_countries\n  select name, regexp_substr(name, '^A.+a$') from eba_countries \n  select name, regexp_substr(name, '^A.+a') from eba_countries \n   - Afganishtan\n\n # From the EBA_COUNTRIES table query a column that extracts just the word of a country , only for those \n # countries that consist of mulitple words\n select name, regexp_substr(name, '^\\w+ ') from eba_countries\n "

In [2]:
# REGEXP_REPLACE
'''
 *  Replace a sequence of characters with another sequence of characters
'''

'\n *  Replace a sequence of characters with another sequence of characters\n'

In [ ]:
# Assignment Questions
'''
 # From the Customers table Query a column that replaces 'internalmail' with 'interalmail.com' in the email_address field
 select * from customers;
 select email_address , regexp_replace(email_address, 'internalmail','internalmail.com') from customers;

 # From the Customer table query a column that changes the customer email address from 
 #'firstname.lastername@internamail' to 'firstname-lastname@intermail'
 select email_address , regexp_replace(email_address, '\.','-') from customers;

 
 # From theCustomer table query a column that switches the customer email addresses 
 # from 'firstname.lastname@interalmail' to 'internalmail@firstname.lastname'

 # Solution is subxprexxion & Bckreference
select email_address , regexp_replace(email_address, '(.+)(@)(.+)','\3\2\1') from customers;

# Pattern
 - First Subexpresion => (.+)
 - Section Subexpresison => (@)
 - Third Exrpession  => (.+)

# REplace string with backreferece
 \3 => First Subexpresion
 \2 => Section Subexpresison
 \1 => Third Exrpession
'''

In [7]:
# Class Metacharacters 
'''
 - More metacharacters - Character class 
 [[:alnum:]]

 - \d or [[:digit:]] =>BOTH ARE SAME
'''
# Example
'''
 select * from customers
 # Get only First name
  select fullname, regexp_substr(full_name, '[[:alpha:]]+ ')
  or 
  select fullname, regexp_substr(full_name, '\w+ ')
'''

"\n select * from customers\n # Get only First name\n  select fullname, regexp_substr(full_name, '[[:alpha:]]+ ')\n  or \n  select fullname, regexp_substr(full_name, '\\w+ ')\n"

In [14]:
# Concluding Thoughts on RegEx
# Useful External Resources
'''
'''