In [1]:
# Section 12: Views
'''
Views are virtual tables that do not store physical data, they are essentially stored SQL queries.
When used effectively they can greatly improve database performance.
After completing this section you will learn:
  * What is a View and how is it useful
  * How to create, replace and drop a view
  * The difference between simple and complex views
  * How to perform DML Operations such as inserting records into simple views
  * How to control and prevent DML operations on simple views

The section will be rounded off with a multiple choice quiz.
'''

'\nViews are virtual tables that do not store physical data, they are essentially stored SQL queries.\nWhen used effectively they can greatly improve database performance.\nAfter completing this section you will learn:\n  * What is a View and how is it useful\n  * How to create, replace and drop a view\n  * The difference between simple and complex views\n  * How to perform DML Operations such as inserting records into simple views\n  * How to control and prevent DML operations on simple views\n\nThe section will be rounded off with a multiple choice quiz.\n'

In [2]:
# What are views
'''
 - pdf
'''

'\n - pdf\n'

In [3]:
# Creating , Replacing And Dropping Views
'''

create view v_emp as select * from emp;
select * from v_emp;

-- replace existing view 
create or replace view v_emp AS select * from emp where deptno=10

select * from v_emp;

drop view v_emp;

'''

'\n\ncreate view v_emp as select * from emp;\nselect * from v_emp;\n\n-- replace existing view \ncreate or replace view v_emp AS select * from emp where deptno=10\n\nselect * from v_emp;\n\ndrop view v_emp;\n\n'

In [4]:
# Simple and complex Views 
'''
-- simple view 
create view v_emp_deptno
AS 
SELECT * FROM EMP 
WHERE deptno =10;
select * from v_emp_deptno;

-- comlex view 
create view v_job_sal
AS 
SELECT 
 job,
 sum(sal) as SUM_SAL
FROM EMP 
GROUP BY job;

select * from v_job_sal;


-- comlex view 
create view v_emp_dept
AS 
SELECT 
 emp.ename,
 emp.job,
 emp.deptno,
 dept.dname

FROM EMP 
LEFT JOIN DEPT
ON EMP.deptno = DEPT.deptno;

select * from v_emp_dept;
'''

'\n-- simple view \ncreate view v_emp_deptno\nAS \nSELECT * FROM EMP \nWHERE deptno =10;\nselect * from v_emp_deptno;\n\n-- comlex view \ncreate view v_job_sal\nAS \nSELECT \n job,\n sum(sal) as SUM_SAL\nFROM EMP \nGROUP BY job;\n\nselect * from v_job_sal;\n\n\n-- comlex view \ncreate view v_emp_dept\nAS \nSELECT \n emp.ename,\n emp.job,\n emp.deptno,\n dept.dname\n\nFROM EMP \nLEFT JOIN DEPT\nON EMP.deptno = DEPT.deptno;\n\nselect * from v_emp_dept;\n'

In [7]:
# Performing DML Operationg on Simple Views
'''
-- simple view 
create view v_emp_deptno
AS 
SELECT * FROM EMP 
WHERE deptno =10;

select * from v_emp_deptno;

-- insert into views 
insert into v_emp_deptno values(999, 'TEST','TEST',null,sysdate,1000,0,10);

select * from emp;

insert into v_emp_deptno values(998, 'TEST1','TEST1',null,sysdate,1000,0,30);

select * from v_emp_deptno;

-- how to prevent to insert or update

-- simple view 
create or replace view v_emp_deptno
AS 
SELECT * FROM EMP 
WHERE deptno =10
with check option;

-- insert into views 
insert into v_emp_deptno values(777, 'TEST3','TEST3',null,sysdate,1000,0,20); -- view WITH CHECK OPTION where-clause violation
select * from v_emp_deptno;
select * from emp;

insert into v_emp_deptno values(777, 'TEST3','TEST3',null,sysdate,1000,0,10);

-- only read only 

-- simple view 
create or replace view v_emp_deptno
AS 
SELECT * FROM EMP 
WHERE deptno =10
with read only;

insert into v_emp_deptno values(777, 'TEST3','TEST3',null,sysdate,1000,0,10); -- cannot perform a DML operation on a read-only view

'''

"\n-- simple view \ncreate view v_emp_deptno\nAS \nSELECT * FROM EMP \nWHERE deptno =10;\n\nselect * from v_emp_deptno;\n\n-- insert into views \ninsert into v_emp_deptno values(999, 'TEST','TEST',null,sysdate,1000,0,10);\n\nselect * from emp;\n\ninsert into v_emp_deptno values(998, 'TEST1','TEST1',null,sysdate,1000,0,30);\n\nselect * from v_emp_deptno;\n\n-- how to prevent to insert or update\n\n-- simple view \ncreate or replace view v_emp_deptno\nAS \nSELECT * FROM EMP \nWHERE deptno =10\nwith check option;\n\n-- insert into views \ninsert into v_emp_deptno values(777, 'TEST3','TEST3',null,sysdate,1000,0,20); -- view WITH CHECK OPTION where-clause violation\nselect * from v_emp_deptno;\nselect * from emp;\n\ninsert into v_emp_deptno values(777, 'TEST3','TEST3',null,sysdate,1000,0,10);\n\n-- only read only \n\n-- simple view \ncreate or replace view v_emp_deptno\nAS \nSELECT * FROM EMP \nWHERE deptno =10\nwith read only;\n\ninsert into v_emp_deptno values(777, 'TEST3','TEST3',null,sysdate,1000,0,10); -- cannot perform a DML operation on a read-only view\n\n"

In [1]:
# cleanup 
'''
select * from emp;
delete from emp where job like 'TEST%'
'''

"\nselect * from emp;\ndelete from emp where job like 'TEST%'\n"