In [1]:
# Section 10: Query Order of Execution And SubQueries
'''
We have touched on SQL Query order of execution in the Aggregation Functions Group By, Having and Order By Section. 
But now that we have covered the main clauses and operations in SQL we will be revisiting this topic.
After completing this section you will learn about:
 * The order of execution for clauses and operations in SQL
 * Using subqueries to create dynamic SQL queries

We will round this section off with some practical assignment questions
'''

'\nWe have touched on SQL Query order of execution in the Aggregation Functions Group By, Having and Order By Section. \nBut now that we have covered the main clauses and operations in SQL we will be revisiting this topic.\nAfter completing this section you will learn about:\n * The order of execution for clauses and operations in SQL\n * Using subqueries to create dynamic SQL queries\n\nWe will round this section off with some practical assignment questions\n'

In [2]:
# SQL QUery Order of Execution
'''
1. FROM 
2. JOIN 
       => GEt the Logical Table 
3. WHERE 
      => Filter REocrds
4. GROUP BY 
      => Make a Group 
5. HAVING 
      => FIlter the Group 
6. SELECT 
       => PROJETION
7. ORDER BY 
8. LIMIT / FETCH/ TOP
'''

'\n1. FROM \n2. JOIN \n       => GEt the Logical Table \n3. WHERE \n      => Filter REocrds\n4. GROUP BY \n      => Make a Group \n5. HAVING \n      => FIlter the Group \n6. SELECT \n       => PROJETION\n7. ORDER BY \n8. LIMIT / FETCH/ TOP\n'

In [3]:
# Fetch , Limit and Top
'''
 Oracle 
  SELECT 
    CLUMN(S)
  FROM 
    TABLE
  FETCH FIRST NUMBER ROWS ONLY;
'''

# example
'''
select * from emp order by sal DESC FETCH FIRST 3 ROWS ONLY

-- 3 Lowest salayr
select * from emp order by sal ASC FETCH FIRST 3 ROWS ONLY
'''

'\nselect * from emp order by sal DESC FETCH FIRST 3 ROWS ONLY\n\n-- 3 Lowest salayr\nselect * from emp order by sal ASC FETCH FIRST 3 ROWS ONLY\n'

In [4]:
# SubQueries
'''

SELECT 
   NAME ,RATING 
FROM IMDB_TOP10 
WHERE RATING = (
   SELECT MAX(RATING) FROM IMDB_TOP10
);

--   SELECT MAX(RATING) FROM IMDB_TOP10 => 9.5
'''

# Example 
'''
SELECT 
   NAME ,RATING 
FROM IMDB_TOP10 
WHERE NAME IN = (
   SELECT NAME 
   FROM IMDB_TOP10
   ORDER BY RATING
   FETCH FIRST 3 ROWS ONLY
);

'''

'\nSELECT \n   NAME ,RATING \nFROM IMDB_TOP10 \nWHERE NAME IN = (\n   SELECT NAME \n   FROM IMDB_TOP10\n   ORDER BY RATING\n   FETCH FIRST 3 ROWS ONLY\n);\n\n'

In [5]:
# SubQueries and Joins
'''
 - pdf
'''

'\n - pdf\n'

In [6]:
# Assignment QUestions
'''
-- Please attempt as many questions as you can, I will go over the solutions in the next lecture. Good luck!
-- (For these assignment questions we will be using the Countries Sample Dataset)

Q1) Return the top 5 countries by population from the EBA_COUNTRIES Table
select name,population from EBA_COUNTRIES order by population DESC FETCH FIRST 5 ROWS ONLY;


Q2)Return a single record that contains the fifth rated country by population in the EBA_COUNTRIES Table
select name , population FROM (
 ( select name, population from EBA_COUNTRIES order by population DESC FETCH FIRST 5 ROWS ONLY) 
) ORDER BY population  FETCH FIRST 1 ROWS ONLY;


Q3) Use the EBA_COUNTRIES Table to write a query that returns the “Country Name”, “Country population”, “Total Region Population” 
and the “% of TOTAL REGION Population”.
1. “Country Name” is the Countries name -> already there
2. “Country Population” is the Countries population -> already tgere
3. “Region Population” is the total population for that countries region_ID -> Not there , need to calculate
4. “% of TOTAL REGION Population” = (Population / Total Region Population)*100 -> depends on 3 table, 

(Hint. You will need to perform a self join)

select * from eba_countries;

SELECT 
   A.name AS "Country Name",
   A.population as "Countries population",
   B."total population",
  (A.population / B."total population")*100 as "% of TOTAL REGION Population"

FROM eba_countries A
JOIN 
( 
    select 
        REGION_ID, 
        sum(population) as "total population"
    FROM eba_countries
    GROUP BY REGION_ID
) B
ON A.region_id = B.REGION_ID;
'''

'\n-- Please attempt as many questions as you can, I will go over the solutions in the next lecture. Good luck!\n-- (For these assignment questions we will be using the Countries Sample Dataset)\n\nQ1) Return the top 5 countries by population from the EBA_COUNTRIES Table\nselect name,population from EBA_COUNTRIES order by population DESC FETCH FIRST 5 ROWS ONLY;\n\n\nQ2)Return a single record that contains the fifth rated country by population in the EBA_COUNTRIES Table\nselect name , population FROM (\n ( select name, population from EBA_COUNTRIES order by population DESC FETCH FIRST 5 ROWS ONLY) \n) ORDER BY population  FETCH FIRST 1 ROWS ONLY;\n\n\nQ3) Use the EBA_COUNTRIES Table to write a query that returns the “Country Name”, “Country population”, “Total Region Population” \nand the “% of TOTAL REGION Population”.\n“Country Name” is the Countries name\n“Country Population” is the Countries population\n“Region Population” is the total population for that countries region_ID\n“% of TOTAL REGION Population” = (Population / Total Region Population)*100\n\n(Hint. You will need to perform a self join)\n\nselect * from eba_countries;\n\nSELECT \n   A.name AS "Country Name",\n   A.population as "Countries population",\n   B."total population",\n  (A.population / B."total population")*100 as "% of TOTAL REGION Population"\n\nFROM eba_countries A\nJOIN \n( \n    select \n        REGION_ID, \n        sum(population) as "total population"\n    FROM eba_countries\n    GROUP BY REGION_ID\n) B\nON A.region_id = B.REGION_ID;\n'

In [7]:
# Solution
'''

select * from eba_countries order by population desc fetch first 5 rows only;



Question 2
select

*

from

(select * from eba_countries order by population desc fetch first 5 rows only)

order by population asc

fetch first 1 rows only;



Question 3
select

a.name as "Country Name",

a.population as "Country Population",

b."Total Region Population",

round((a.population/"Total Region Population")*100,2) as "% of Total Region Population"

from eba_countries a

left join

(

select

region_id,

sum(population) as "Total Region Population"

from eba_countries

group by region_id

) b

on a.region_id = b.region_id;

'''

'\n\n'