In [1]:
# Overview
'''
This section focuses on Data Types. A data type is an attribute of data. The data type of a column in SQL determines what kind of data 
it can hold, for example a numerical data type cannot hold letters.

After completing this section you will be able to:
 * Identify the main string, date and numerical data types
 * Use the Describe Statement to retrieve the data types for columns in a table
 * Perform simple mathematical operations in SQL SELECT statements
 * This section will have a quiz at the end to test your knowledge.
'''

'\nThis section focuses on Data Types. A data type is an attribute of data. The data type of a column in SQL determines what kind of data it can hold, \nfor example a numerical data type cannot hold letters.\n\nAfter completing this section you will be able to:\n * Identify the main string, date and numerical data types\n * Use the Describe Statement to retrieve the data types for columns in a table\n * Perform simple mathematical operations in SQL SELECT statements\n * This section will have a quiz at the end to test your knowledge.\n'

In [2]:
# String data Type
'''
DATATYPE 
 - CHAR(N)
 - VARCHAR(N)
 - NCHAR(N)      : Accepts UNICODE
 - NVARCHAR(N)   : Accepts UNICODE
'''

'\nDATATYPE \n - CHAR(N)\n - VARCHAR(N)\n - NCHAR(N)     : Accepts UNICODE\n - NVARCHAR(N)   : Accepts UNICODE\n'

In [4]:
# Numerical Data Type
'''
DATATYPE 
  - BOOLEAN : 1 or 0
  - INTEGER 
  - DECIMAL 
  - FLOATING POINT NUMBERS

* SCALE and Precision
 - Precision is the number of digits and scale is the number of digits to the right of the decimal point
'''

'\nDATATYPE \n  - BOOLEAN : 1 or 0\n  - INTEGER \n  - DECIMAL \n  - FLOATING POINT NUMBERS\n'

In [6]:
# DATE Data Type
'''
DATATYPE
  - DATE                 : HOlds the day , month and year in a certain format eq: YYYY-MM-DD
  - DATETIME/ TIMESTAMP:  Holds the date along with the time in hours, minutes and seconds in a given format e.g: YYYY-MM-DD hh:mm:ss
'''

'\nDATATYPE\n  - DATE               : HOlds the day , month and year in a certain format eq: YYYY-MM-DD\n  - DATETIME/ TIMESTAMP:  Holds the date along with the time in hours, minutes and seconds in a given format e.g: YYYY-MM-DD hh:mm:ss\n'

In [7]:
# Describe statements
'''
describe eba_countries;
'''

'\ndescribe eba_countries;\n'

In [8]:
# Simple Mathematical Operators
'''
-- take population and divide by 1milion

select * from eba_countries

-- display popuplation in milion
select name, population / 1000000 from eba_countries; 


-- Population per area (KM^2) , popliation/ Area(Km^2)
select name, population / area_km2 from eba_countries; 


-- add varchar with numerical
select name+population from eba_countries; 
select name+nationality from eba_countries; 
'''

'\n-- take populatino and divide by 1milion\n\nselect * from eba_countries\n\n-- display pop in milion\nselect name, population / 1000000 from eba_countries; \n\n\n-- Population per area (KM^2) , popliation/ Area(Km^2)\nselect name, population / area_km2 from eba_countries; \n\n\n-- add varchar with numerical\nselect name+population from eba_countries; \nselect name+nationality from eba_countries; \n\n\n'

In [ ]:
# Further Guidence and Documentation on data types
'''
Here are some useful links that cover data types for the different Database Management Systems:

Oracle: https://docs.oracle.com/cd/B28359_01/server.111/b28318/datatype.htm#CNCPT113
MySQL: https://dev.mysql.com/doc/refman/8.0/en/data-types.html
Microsoft SQL Server: https://docs.microsoft.com/en-us/sql/t-sql/data-types/data-types-transact-sql?view=sql-server-ver15

'''