In [1]:
### 2. **Running Total**
'''
Q)Explain what window functions are in SQL and provide an example of how they can be used to calculate a running total or a moving average.
A) Window functions allow performing calculations across a set of table rows related to the current row. Example:

transactions(`transaction_date`, `customer_id`, `amount`)
Q) write a query to calculate the running total of the `amount` for each `customer_id` ordered by `transaction_date`.
SELECT 
    transaction_date,
    customer_id,
    amount,
    SUM(amount) OVER (
        PARTITION BY customer_id 
        ORDER BY transaction_date
    ) AS running_total
FROM 
    transactions
ORDER BY 
    customer_id, transaction_date;

'''
####
'''

Explanation:
1. SUM(amount) OVER (PARTITION BY customer_id ORDER BY transaction_date):

- PARTITION BY customer_id: This divides the result set into partitions, one for each customer_id.
- ORDER BY transaction_date: Within each partition, the rows are ordered by transaction_date.
- The SUM() function then computes a running total of amount within each partition as the rows are ordered by transaction_date.

2. ORDER BY customer_id, transaction_date: This ensures that the final result set is ordered by customer_id and within each customer,
 by transaction_date.

The result will show the cumulative sum of the amount for each customer, ordered by the date of the transaction.

'''

'\n   - **Question:** Explain what window functions are in SQL and provide an example of how they can be used to calculate a running total or a moving average.\n   - **Expected Answer:** Window functions allow performing calculations across a set of table rows related to the current row. Example:\n     ```sql\n     SELECT\n         order_id,\n         customer_id,\n         order_date,\n         SUM(amount) OVER (ORDER BY order_date) AS running_total\n     FROM\n         orders;\n         \n'

In [2]:
### 2. **Query Optimization**
'''
Q) A query you wrote is running slow. What steps would you take to optimize it?
A) 
- Review indexes, 
- check query execution plan, 
- avoid using 
   * `SELECT *`, 
   * use proper joins, 
   * avoid subqueries in favor of CTEs, and 
   * consider query rewriting or denormalization if needed.
'''

'\nQ) A query you wrote is running slow. What steps would you take to optimize it?\nA) \n- Review indexes, \n- check query execution plan, \n- avoid using \n   * `SELECT *`, \n   * use proper joins, \n   * avoid subqueries in favor of CTEs, and \n   * consider query rewriting or denormalization if needed.\n\n'

In [3]:
### 4. **Recursive Queries**
'''
Q) How would you write a recursive SQL query to traverse a hierarchical data structure, such as an employee reporting hierarchy?

WITH RECURSIVE EmployeeCTE AS (
         SELECT employee_id, manager_id, employee_name, 1 AS level
         FROM employees
         WHERE manager_id IS NULL
         
         UNION ALL
         
         SELECT e.employee_id, e.manager_id, e.employee_name, cte.level + 1
         FROM employees e
         JOIN EmployeeCTE cte ON e.manager_id = cte.employee_id
     )
     SELECT * FROM EmployeeCTE;
'''

'\nQ) How would you write a recursive SQL query to traverse a hierarchical data structure, such as an employee reporting hierarchy?\n\nWITH RECURSIVE EmployeeCTE AS (\n         SELECT employee_id, manager_id, employee_name, 1 AS level\n         FROM employees\n         WHERE manager_id IS NULL\n         \n         UNION ALL\n         \n         SELECT e.employee_id, e.manager_id, e.employee_name, cte.level + 1\n         FROM employees e\n         JOIN EmployeeCTE cte ON e.manager_id = cte.employee_id\n     )\n     SELECT * FROM EmployeeCTE;\n'

In [4]:
# ### 6. **Handling NULL Values**
'''
Q) How do you handle NULL values in SQL? Provide examples of using COALESCE and NULLIF.
   - **Expected Answer:** 
     - `COALESCE` returns the first non-NULL value in the list.
     - `NULLIF` returns NULL if the two compared values are equal.

 - SELECT COALESCE(column1, 'default_value') FROM table;
 - SELECT NULLIF(column1, column2) FROM table;
'''

"\nQ) How do you handle NULL values in SQL? Provide examples of using COALESCE and NULLIF.\n   - **Expected Answer:** \n     - `COALESCE` returns the first non-NULL value in the list.\n     - `NULLIF` returns NULL if the two compared values are equal.\n\n - SELECT COALESCE(column1, 'default_value') FROM table;\n - SELECT NULLIF(column1, column2) FROM table;\n"

In [5]:
###### 7. **Indexes**
'''
Q) What are indexes in SQL, and how do they impact query performance? When would you use a composite index?
A) Indexes speed up data retrieval but can slow down write operations. A composite index is used when you frequently 
query multiple columns together.
'''

'\nQ) What are indexes in SQL, and how do they impact query performance? When would you use a composite index?\nA) Indexes speed up data retrieval but can slow down write operations. A composite index is used when you frequently \nquery multiple columns together.\n'

In [6]:
#### 8. **Pivot and Unpivot**
'''
Q) How would you pivot data in SQL to convert rows into columns? Provide an example.
A)
SELECT 
   product,
   SUM(CASE WHEN year = '2020' THEN sales END) AS sales_2020,
   SUM(CASE WHEN year = '2021' THEN sales END) AS sales_2021
FROM sales_data
GROUP BY product;
'''

"\nQ) How would you pivot data in SQL to convert rows into columns? Provide an example.\nA)\n     SELECT \n         product,\n         SUM(CASE WHEN year = '2020' THEN sales END) AS sales_2020,\n         SUM(CASE WHEN year = '2021' THEN sales END) AS sales_2021\n     FROM sales_data\n     GROUP BY product;\n"

In [ ]:
### 9. **Partitioning**
'''
Q) Explain the concept of table partitioning in SQL. How does it improve performance, and when would you use it?
A) Partitioning divides a large table into smaller, more manageable pieces, improving query performance and maintenance tasks. 
Use it when dealing with large datasets that can be logically separated, e.g., by date.
'''