In [1]:
# The Comphrehensive SQL Course
# Section 1: Introduction
#

In [2]:
# What is SQL 
'''
- Structured Query Language - SQL or SEQUEL
- Declarative Language 
- Most databases use SQL [ sqlserver, MYSQL,oracle]
- WIdely regarded as one of the key skills in ths technology procession.
'''

# Tables
# Basic Database Terminilogy
'''
 * Objects : table, views, Stored procedure, Schema
 * Database: Collection of schemas
'''

# Your First SQL QUery 
'''
 select col1, columne1,columnn from tablel
 select * from table; -- * is wildcard

 * ALIAS : select COLUMN1 AS "NEW_NAME" from TABLE;

 select * from eba_countries;
'''

'\n- Structured Query Language - SQL or SEQUEL\n- Declarative Language \n- Most databases use SQL [ sqlserver, myslq,oracle]\n- WIdely regarded as one of the key skills in ths technology procession.\n'

In [ ]:
# Relational Database